<h2> Welcome to the Time Tracker</h2>

<br>

<ul>
	<% @projects.each do |attribute| %>
		<li><a href="/projects/<%= attribute.name %>" ><%= attribute.name %></a></li>
	<% end %>
</ul>
<br>

<a href="/contacts"> Emails </a>